<nav class="navbar-everything">
  <img src="/img/ShareToolsLogo.png" alt="" class="logo-normal"/>
  <img src="/img/LogoZonderTekst.png" class="logo-responsive">
  
  <a href="./indexloggedin" class="nav-link" role="tab">
    <img src="/img/ICON - Home.svg" class="icons">
    <span class="links">Mijn Tools</span>
  </a>

  <a href="./toollenen" class="nav-link" role="tab">
    <img src="/img/ICON - Zoeken.svg" class="icons">
    <span class="links">Tools Lenen</span>
  </a>
  
  <a href="./Meldingen" class="nav-link" role="tab">
    <img src="/img/ICON - Meldingen.svg" class="icons">
    <span class="links">Meldingen</span>
  </a>
  
  <a href="./mijnaccount" class="nav-link" role="tab">
    <img src="/img/ICON - Account.svg" class="icons">
    <span class="links">{{user.name}}</span>
  </a>
</nav>
