<nav class="navbar-everything">
  <img src="img/Sharetoolslogo .jpeg" alt="" class="logo-normal"/>
  <img src="img/LogoZonderTekst.png" class="logo-responsive">

  <div class="d-flex align-items-start">
    <div
      class="nav flex-column nav-pills me-3"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
        <img src="img/ICON - Home.svg" class="icons">
        <a href="./indexloggedin" class="links"><li>Mijn Tools</li></a>
      </button>
          
      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
        <img src="img/ICON - Zoeken.svg" class="icons">
        <div class="links"><li>Tools Lenen</li></div>
      </button>
              
      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
        <img src="img/ICON - Meldingen.svg" class="icons">
        <div class="links"><li>Meldingen</li></div>
      </button>

      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
        <img src="img/ICON - Account.svg" class="icons">
        <a href="./mijnaccount" class="links"><li>{{ user.name }}</li></a>
      </button>
    </div>
  </div> 
</nav>
