<nav class="navbar-everything">
  <img src="img/Share Tools Logo .jpeg" alt="" class="logo-normal"/>
  <img src="img/LogoZonderTekst.png" class="logo-responsive">

  <div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a href="indexloggedin" class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
      <img src="img/ICON - Home.svg" class="icons">
      <div class="links"><li>mijn tools</li></div>
    </a>

    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
      <img src="img/ICON - Zoeken.svg" class="icons">
      <div class="links"><li>Tools Lenen</li></div>
    </button>
            
    <a href="/meldingen" class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
      <img src="img/ICON - Meldingen.svg" class="icons">
      <div class="links"><li>Meldingen</li></div>
    </a>

    <a href="/mijnaccount" class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
      <img src="img/ICON - Account.svg" class="icons">
      <div class="links"><li>Mijn Account</li></div>
    </a>
  </div>
</div>
<script src="script.js"></script>