<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Hoofdpagina.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Share Tools</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon-32x32.png">
</head>

<body>
<div class="page-container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="/img/ShareToolsLogo.png" alt="Logo" width="180" height="56" class="d-inline-block align-text-top">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
              
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>

        <form class="d-flex" role="search">
           <a class="btn-outline" href="./login">Inloggen</a>
          <a class="btn-dark" href="./register">Registreren</a>
        </form>
      </div>
    </div>
  </nav>

  <div class="cta-tekst">
    <h1>Organiseer jouw gereedschap</h1>
    <p>Share Tools is de plek voor het organiseren, bijhouden en delen van gereedschap</p>
    <a class="btn-dark" style="width:184px; font-size: 20px" href="./login">Begin nu</a>
    <div class="cta-hoofd">
      <img src="/img/CTA Foto.png" class="cta-achtergrond">
      <div class="white-part"></div>
    </div>
  </div>

  <div class="proces-uitleg">
    <h3>Proces</h3>
    <section class="cards-total">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Maak een account aan of Log in op uw account</h5>
            <p class="card-text">Maak een account aan of log in op uw account om uw inventaris op te slaan.</p>
          </div>
        </div>

        <div class="card" height="224px">
          <div class="card-body" >
            <h5 class="card-title">Begin met organiseren</h5>
            <p class="card-text">Begin met het organiseren, bijhouden en delen van gereedschap.</p>
          </div>
        </div>
    </section>
  </div>

  <div class="functies-uitleg">
    <img src="/img/GereedschapToevoegenAchtergrond.png" class="beschrijving-achtergrond">
    <section class="functie-tekst">
      <h3 class="functies-title">Voeg gereedschap toe aan jouw inventaris</h3>
      <p class="functies-beschrijving">Een gedetailleerde inventaris van gereedschappen, de locatie van elk item bij te houden en moeiteloos gereedschap uit te lenen en terug te vorderen.</p>
    </section>
  </div>

  <div class="functies-uitleg">
    <section class="functie-tekst">
      <h3 class="functies-title">Zie meldingen voor het lenen van gereedschap</h3>
      <p class="functies-beschrijving">Een functie die gebruikers aangeeft wie het gereeschap leent en wanneer het wordt terugverwacht.</p>
    </section>
    <img src="/img/GereedschapToevoegenAchtergrond.png" class="beschrijving-achtergrond">
</div>

</div>


</body>
</html>