<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gereedschap App</title>
<script src="script.js" defer></script>
<link rel="stylesheet" href="/style2.css">
</head>
<body>
  <div class="popup-container" id="reminderPopup">
    <p>Herinnering: Breng alsjeblieft het geleende item terug!</p>
</div>
<div class="navbar">
  <div>Share Tools</div>
  <div>
    <a href="#">Lenen</a>
    <a href="#">Help</a>
    <a href="/login">Inloggen</a>
    <a href="/register">Aanmelden</a>
  </div>
</div>

<div class="container">
  <div class="header">
    <h1>Gereedschap</h1>
    <p>"Bekijk nu verschillende soorten gereedschappen bij u in de buurt"</p>
  </div>

  <div class="grid">
    <div class="product">
      <div class="product-image"></div>
      <div>Product</div>
      <a href="#" class="btnb">Beschikbaar</a>
      <a href="productinfopagina.html" class="btn">Zie meer</a>
    </div>
    <div class="product">
        <div class="product-image"></div>
        <div>Product</div>
        <a href="#" class="btnb">Beschikbaar</a>
        <a href="productinfopagina.html" class="btn">Zie meer</a>
      </div>
      <div class="product">
        <div class="product-image"></div>
        <div>Product</div>
        <a href="#" class="btn">Niet beschikbaar</a>
        <a href="#" class="btn">Zie meer</a>
      </div>
      <div class="product">
        <div class="product-image"></div>
        <div>Product</div>
        <a href="#" class="btn">Niet beschikbaar</a>
        <a href="#" class="btn">Zie meer</a>
      </div>
      <div class="product">
        <div class="product-image"></div>
        <div>Product</div>
        <a href="#" class="btn">Niet beschikbaar</a>
        <a href="#" class="btn">Zie meer</a>
      </div>
      <div class="product">
          <div class="product-image"></div>
          <div>Product</div>
          <a href="#" class="btn">Niet beschikbaar</a>
          <a href="#" class="btn">Zie meer</a>
        </div>
        <div class="product">
          <div class="product-image"></div>
          <div>Product</div>
          <a href="#" class="btn">Niet beschikbaar</a>
          <a href="#" class="btn">Zie meer</a>
        </div>
        <div class="product">
          <div class="product-image"></div>
          <div>Product</div>
          <a href="#" class="btn">Niet beschikbaar</a>
          <a href="#" class="btn">Zie meer</a>
        </div>
  </div>
</div>

</body>
</html>
