<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Info</title>
    <link rel="stylesheet" href="/style3.css">
</head>
<body>
    <div class="navbar">
        <div>Share Tools</div>
        <div>
          <a href="#">Lenen</a>
          <a href="#">Help</a>
          <a href="login.html">Inloggen</a>
          <a href="sign-up.html">Aanmelden</a>
        </div>
      </div>
      <main class="container">
        <section class="card">
          <figure class="image-placeholder"></figure>
          <figcaption class="info-caption">Informatie</figcaption>
        </section>
        <aside class="details">
          <h1>Boormachine</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="buttons">
            <button type="button">LEEN</button>
            <button type="button">BERICHT</button>
          </div>
        </aside>
      </main>
</body>
</html>