<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/login-register.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<title>Share Tools</title>
<link rel="icon" type="image/x-icon" href="/img/favicon-32x32.png">
</head>
<body>

<div class="signup-everything">  
  <img src="/img/login.png" class="filler-photo" alt="photo">

    <form action="/auth/register" method="POST">
      <img class="logo" src="/img/LogoZonderTekst.png">
        <h1>Registeren</h1>
        <p>Vul de volgende gegevens in om door te gaan.</p>

        <label for="name">Gebruikersnaam</label>
         <input type="text" name="name" id="name" placeholder="Vul uw gebruikersnaam in" required><br>

        <label for="birthdate">Geboortedatum</label>
         <input type="text" name="birthdate" id="birthdate" placeholder="Vul uw geboortedatum in" required><br>
    
        <label for="email">Email</label>
         <input type="email" name="email" id="email" placeholder="Vul uw email in" required><br>
    
        <label for="password">Wachtwoord</label>
         <input type="password" name="password" id="password" placeholder="Vul een wachtwoord in" required><br>
    
        <label for="passwordConfirm">Wachtwoord verifiëren</label>
         <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Vul het wachtwoord opnieuw in" required><br>
        
        <label for="woonplaats">Woonplaats</label>
         <input type="text" name="woonplaats" id="woonplaats" placeholder="Vul uw woonplaats in" required>
    
         <input type="submit" value="Sign-up">
    {{#if message }}
    <h4 class="alart alart-danger mt-4">{{message}}</h4>
    {{/if}}
    <p style="margin-bottom: 0;">Heeft u al een account. <a href="./login">Log hier in.</a></p>
</form>
</div>
</body>
</html>