<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="ToolToevoegen.css">
  <link rel="stylesheet" href="/header.css">
  <link rel="icon" type="image/x-icon" href="/img/favicon-32x32.png">
  <title>Share Tools</title>
</head>

<body>

{{> header}}

<div class="toevoegen-container">
    <a href="/indexloggedin"><button class="btn-terug">🞀</button></a>
    
<form action="/tools" method="POST" enctype="multipart/form-data">
    <div class="left">
        <img src="/img/GereedschapToevoegenAchtergrond.png" class="toevoegen-image" id="image">

        <div class="file-input-container">
          <label class="file-label" for="imageUpload" id="chooseFile">Bestand kiezen</label>
          <input type="file" id="imageUpload" name="image" accept="image/*" class="file-input">
        </div>  

        <br>
        <br>
        <br>
        <br>

        <label for="floatingInputTitle" style="font-weight: 600">Titel</label>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputTitle" name="title" placeholder="Titel Tool">
            <label for="floatingInputTitle">Voer een titel voor het gereedschap in</label>
        </div>

       <label for="floatingfloatingInputCategory" style="font-weight: 600">Categorie</label>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputCategory" name="category" placeholder="Categorie">
            <label for="floatingInputCategory">Voer een categorie in</label>
        </div>
      
        </div>

    <div class="right">
      <label for="floatingSelectAfmetingen" style="font-weight: 600">Afmetingen</label>
      <div class="form-floating">
            <select class="form-select" id="floatingSelectAfmetingen" aria-label="Floating label select example" name="afmetingen">
                <option value="Klein/Groot">Klein / Groot</option>
                <option value="Klein">Klein</option>
                <option value="Groot">Groot</option>
            </select>
        <label for="floatingSelectAfmetingen ">Kies een afmeting</label>
      </div> 

        <label for="floatingSelectStatus" style="font-weight: 600">Status</label>
        <div class="form-floating">
            <select class="form-select" id="floatingSelectStatus" aria-label="Floating label select example" name="beschikbaarheid">
                <option value="Huidige status">Huidige status</option>
                <option value="Beschikbaar">Beschikbaar</option>
                <option value="Niet beschikbaar">Niet beschikbaar</option>
            </select>
         <label for="floatingSelectStatus">Kies een status</label>
        </div>

        <label for="floatingSelect" style="font-weight: 600">Favoriet</label>
      <div class="form-floating">
            <select class="form-select" id="floatingSelectFavoriet" aria-label="Floating label select example" name="favoriet">
                <option value="1">Favoriet</option>
                <option value="0">Niet Favoriet</option>
            </select>
        <label for="floatingSelectFavoriet">Kies of u deze tool favoriet wilt maken</label>
      </div> 

      <label for="floatingSelectPubliek" style="font-weight: 600">Publiek</label>
      <div class="form-floating">
            <select class="form-select" id="floatingSelectPubliek" aria-label="Floating label select example" name="publiek">
                <option value="Publiek">Publiek</option>
                <option value="Niet publiek">Niet publiek</option>
            </select>
        <label for="floatingSelectPubliek">Kies of u deze tool publiek wilt maken</label>
      </div> 

      <label for="floatingInputLocation" style="font-weight: 600">Locatie</label>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputLocation" name="location" placeholder="Locatie">
            <label for="floatingInputLocation">Voer een locatie in</label>
        </div>

      <label for="floatingTextarea" style="font-weight: 600">Beschrijving</label>
        <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea" name="description" placeholder="Beschrijving" style="height: 198px"></textarea>
            <label for="floatingTextarea">Beschrijf de specificaties van het product</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn-dark">Toevoegen</button>
    </div>
    
</form>      
</div>

<script>
    // FILE INPUT
  const fileInput = document.getElementById('imageUpload');
  const fileLabel = document.querySelector('.file-label');

  fileInput.addEventListener('change', function() {
    const fileName = fileInput.files.length > 0 ? fileInput.files[0].name : 'Geen bestand gekozen';
    fileLabel.textContent = fileName;
  });  

 document.addEventListener('DOMContentLoaded', init);

  function init() {
    var input = document.querySelector('input[type="file"]');
    var reader = new FileReader();

    // When the FileReader "load" event fires, update the image.
    reader.onload = function (e) {
      document.getElementById("image").src = e.target.result;
    };

    // Remove the click event on the label as it's redundant.
    document.querySelector('.file-label').addEventListener('click', function(event) {
      event.preventDefault(); // Prevent default label behavior
      input.click(); // Simulate a click on the file input element
    });

    // Listen for when the input changes.
    input.addEventListener('change', onInputChange);

    function onInputChange(e) {
      if (this.files && this.files[0]) {
        reader.readAsDataURL(this.files[0]);
      }
    }
  }
</script>
  </body>
</html>
