body{
    background-color: #F3F0F0;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-everything{
    background-color: #FDFCFB;
    border: 2px solid rgb(137, 165, 137);
    border-radius: 24px;
    display: grid;
    grid-template-columns: auto auto;
    height: 75%;
    width: 86%;
    margin: 7% 0 0;
}


 /* Stijl voor het formulier */
 form {
    border: 2px solid red;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    height:56px;
    width: auto;
    position: relative;
}

h1{
    color: #333333;
    border: 2px solid red;
}

p{
    color: #898989;
    border: 2px solid pink;
}

label{
    width: 100%;
    color: #333333;
    border: 2px solid purple;
}

.filler-photo{
    border: 2px solid blueviolet;
}


/* Stijl voor de invoervelden */
input[type="text"], input[type="email"], input[type="password"] {
    font-size: 16px;
    width: 100%;
    padding: 16px;
    margin: 8px 0;
    border: 1px solid #CDCDCD;
    border-radius: 8px; /* Ook hier kun je ronde randen toevoegen */
    box-sizing: border-box;
}

/* Stijl voor de verzendknop */
input[type="submit"] {
    width: 100%;
    background-color: #333333;
    color: #FDFCFB;
    padding: 16px 0;
    border: none;
    border-radius: 8px; /* Ook hier kun je ronde randen toevoegen */
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}





/* Stijl voor de foutmeldingen */
.error {
    color: red;
}