body{
    background-color: #F3F0F0;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login-everything{
    background-color: #FDFCFB;
    border: 2px solid green;
    border-radius: 24px; /* Dit zorgt voor ronde randen */
    height: 120%;
    width: 86%;
    padding: 40px;
    gap: 3.2%;
    display: grid;
    grid-template-columns: 50% 50%;
}

 /* Stijl voor het formulier */
 form {
    border: 2px solid red;
    padding: 0 18% 0 12%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    border-radius: 200;
    height:56px;
    width: auto;
    position: relative;
}

h1{
    color: #333333;
    font-size: 40px;
    font-weight: 600;
    margin: 40px 0 0;
    border: 2px solid red;
}

p{
    color: #898989;
    margin-bottom: 40px;
    border: 2px solid pink;
}

label{
    width: 100%;
    color: #333333;
    font-weight: 600;
    border: 2px solid purple;
    display: flex;
}


/* Stijl voor de invoervelden */
input[type="text"], input[type="email"], input[type="password"] {
    font-size: 16px;
    width: 100%;
    padding: 16px;
    margin: 8px 0;
    border: 1px solid #CDCDCD;
    border-radius: 8px; /* Ook hier kun je ronde randen toevoegen */
    box-sizing: border-box;
}

/* Stijl voor de verzendknop */
input[type="submit"] {
    width: 100%;
    background-color: #333333;
    color: #FDFCFB;
    padding: 16px 0;
    margin: 120px 0 0;
    border: none;
    border-radius: 8px; /* Ook hier kun je ronde randen toevoegen */
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}



.filler-photo{
    height: 100%;
    border: 2px solid green;
}

/* Stijl voor de foutmeldingen */
.error {
    color: red;
}