        body {
          background-color: #f2f2f2;
          margin: 0;
          font-family: Arial, sans-serif;
        }
        .popup-container {
        position: fixed;
        top: 70px;
        left: 10px;
        background-color:#cb2f24;
        color: white;
        border: 1px solid #000000;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        }
        .navbar {
          display: flex;
          justify-content: space-between;
          padding: 20px;
          background-color: #566d95;
          color: white;
        }
        .navbar a {
          color: white;
          text-decoration: none;
          padding: 0 10px;
        }
        .navbar a:hover {
          text-decoration: underline;
        }
        .container {
          padding: 20px;
        }
        .header {
          text-align: center;
          margin: 20px 0;
        }
        .grid {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
          gap: 50px;
          
          
        }
        .product {
          border: 1px solid #ccc;
          padding: 20px;
          text-align: left;
        }
        .product-image {
          background-color: #000;
          width: 100%;
          height: 200px;
          margin-bottom: 20px;
        }
        .btn {
          display: block;
          background-color: #555;
          color: white;
          padding: 10px;
          text-decoration: none;
          margin: 10px 0;
        }
        .btn:hover {
          background-color: #555;
        }
        .btnb {
          display: block;
          background-color: green;
          color: white;
          padding: 10px;
          text-decoration: none;
          margin: 10px 0;
        }

        .header-text {
          margin-bottom: 20px;
      }
      .green-plus {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          background-color: #4CAF50;
          color: #fff;
          font-size: 24px;
          border-radius: 50%;
          box-shadow: 0 2px 4px rgba(0,0,0,0.1);
          cursor: pointer;
      }
