body{
    margin: 0;
    padding: 0;
    background-color: #f3f0f0;
    font-family: "Inter", sans-serif;
}

/*Navbar*/
.navbar-everything{
    background-color: #fdfcfb;
    box-shadow: 0px 0px 50px #33333377;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 288px;
    height: 100vh;
    border: 2px solid teal; 
    position: fixed;
}
.d-flex{
    display: flex !important;
    flex-direction: row !important;
    padding: 0;
    border: 2px solid purple;
}
.nav, .flex-column, .nav-pills, .me-3{
    margin: 0;
    width: 200%;
    display: flex !important;
    flex-direction: row !important;
    border: 2px solid yellow;
}


.nav-link{
    width: 100%;
    color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid green;
}
.nav-link:hover{
    color: #333333
}
.nav-link.active{
    font-weight: 600;
    color: #fdfcfb !important;
    background-color: #333333 !important;
}

.logo-normal {
    display: flex;
    width: 150px;
    margin: 32px 0px 72px;
    border: 2px solid red;
}

.logo-responsive{
    display: none;
}

.page-container{
    display: flex;
    flex-direction: row;
}

.icons{
    border: 2px solid red;
    width: 32px;
    height: 32px;
}

/*Profiel content*/

.profiel-container{
    width: 71.4%;
    height: 1%;
    background-color: #fdfcfb;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin: 80px 104px 0px 328px;
    padding: 40px;
}

.btn-dark{
    background-color: #333333;
    margin: 0 72px 0;
    font-weight: 500;
}

.btn-terug{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #CDCDCD;
    background-color: #FDFCFB;
    color: #333333;
}

h1{
    margin-left: 72px;
    font-weight: 600;
}

.details-container{
    padding: 24px 72px 80px;
    display: flex;
    flex-direction: row;
}

.toolfoto{
    width: 60%;
    height: 55%;
    margin: 0 3.7% 0 0;
    border-radius: 16px;
    box-shadow: 0 0 20px #33333323;
}

.tekst-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border: 2px solid red;
}

ul{
    padding: 0;
}

li{
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 4px 0;
}
.info-logos{
    padding-top: 0;
    margin: 0 8px 0 0;
    width: 24px;
}



@media screen and (max-width: 1200px){
    .details-container{
        padding: 24px 72px 80px;
        display: flex;
        flex-direction: column;
    }
    .toolfoto{
        width: 100%;
        min-width: 300px;
        margin: 0 3.7% 40px 0;
    }
}

@media screen and (max-width: 900px){
    .navbar-everything{
        width: 104px;
    }
    .logo-normal{
        display: none;
    }
    .logo-responsive{
        display: block;
        margin: 32px 0 0;
        width: 40px;
        height: auto;
    }
    .profiel-container{
        margin: 80px 104px 0px 144px;
    }
    .toolfoto{
        width: 100%;
        min-width: 100%;
        margin: 0 3.7% 40px 0;
    }
}

@media screen and (max-width: 700px){
    .page-container{
        display: flex;
        flex-direction: column;
    }
    .navbar-everything{
        background-color: #fdfcfb;
        box-shadow: 0px 0px 50px #33333377;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;
        height: 80px;
        border: 2px solid teal; 
        position: fixed;
        bottom: 0;
    }
    .d-flex{
        padding: 0;
        border: 2px solid purple;
    }
    .nav, .flex-column, .nav-pills, .me-3{
        margin: 0;
        width: 100%;
        display: flex !important;
        flex-direction: row !important;
        border: 2px solid yellow;
    }
    .d-flex{
        display: flex !important;
        flex-direction: row !important;
        padding: 0;
        border: 2px solid purple;
    }
}