body {
    background-color: #f3f0f0;
    font-family: 'Inter', sans-serif;
}

.page-container {
  display: flex;
  flex-direction: row;
}  


/*Tool Toevoegen*/
.toevoegen-container {
  width: 71.4%;
  height: 1%;
  background-color: #fdfcfb;
  border-radius: 16px;
  margin: 80px 104px 80px 328px;
  padding: 40px;
  box-shadow: 0 0 50px rgb(55,55,55,8%);
}

.btn-terug{
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #CDCDCD;
  background-color: #FDFCFB;
  color: #333333;
}

form{
  padding: 0 72px 40px;
  display: flex;
  width: 100%;
  gap: 40px;
}
  
.left{
  width: 60%;
}

.toevoegen-image{
  width: 100%;
  margin-bottom: 16px;
  border-radius: 16px;
}

.right{
  width: 40%;
}

label{
  color: #333333;
}

input[type="text"], .form-select{
  font-size: 16px;
  width: 100%;
  padding: 16px;
  margin: 8px 0;
  border: 1px solid #CDCDCD;
  border-radius: 8px;
  box-sizing: border-box;
}


.btn-dark{
  text-decoration: none;  
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px 16px;
  margin-top: 40px;
  font-weight: 600;
  color: #FDFCFB;
  background-color: #333333;
  transition: ease-in-out 0.3s;
  width: 100%;
}

.btn-dark:hover{
  background-color: #5C5C5C;
}

.file-input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  font-size: 100px; /* Make sure it's large enough to cover the button */
  cursor: pointer;
}

.file-label {
  display: inline-block;
  text-decoration: none;  
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: 600;
  color: #FDFCFB;
  background-color: #333333;
  transition: ease-in-out 0.3s;
}

.file-input-container {
  position: relative;
  display: inline-block;
}