body {
    background-color: #f3f0f0;
    font-family: 'Inter', sans-serif;
}

/*Navbar*/
.navbar-everything{
  background-color: #fdfcfb;
  box-shadow: 0px 0px 50px rgb(55,55,55,24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  height: 100vh; 
  position: fixed;
  top: 0;
}
  
.d-flex.align-items-start{
  display: flex;
  justify-content: center !important;
  width: 90%;
}
  
.nav.flex-column.nav-pills.me-3{
  width: 100%;
}
  
  
.nav-link{
  color: #333333;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-weight: 600;
}
.nav-link:hover{
  background-color: #F3F0F0;
  color: #333333;
}
.nav-link.active{
  background-color: #f3f0f0 !important;
  color: #333333 !important;
  font-weight: 800;
}
.links{
  margin-left: 16px;
}
.icons{
  width: 32px;
  height: 32px;
}

.logo-normal {
  display: flex;
  height: 56px;
  margin: 32px 0px 72px;
}
  
.logo-responsive{
display: none;
}
  
.page-container {
  display: flex;
  flex-direction: row;
}  


/*Tool Toevoegen*/
.row {
  width: 71.4%;
  height: 1%;
  background-color: #fdfcfb;
  border-radius: 16px;
  display: flex;
  margin: 80px 104px 80px 328px;
  padding: 40px;
  border: 2px solid green;
}
  
.part{
  border: 2px solid orange;
}
.u{
  border: 2px solid purple;
}

label{
  color: #333333;
}
input[type="text"], .form-select{
  font-size: 16px;
  width: 100%;
  padding: 16px;
  margin: 8px 0;
  border: 1px solid #CDCDCD;
  border-radius: 8px;
  box-sizing: border-box;
}

.custom-btn-green {
  background-color: #333333;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-btn-green:hover {
  background-color: #5C5C5C;
  color: #FDFCFB;
}